/* global margin styles */
* {
    margin: 0;
}

/* style for body */
body {
    font-family: "Sora", sans-serif;
}

/* minimal-blog-card */
.card {
    width: 336px;
    padding: 1rem;
}
.card-img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

/* card title */
.card-title {
    color: #20293A;
    font-size: 1.125rem;
    margin: 16px 0 6px;
}

/* category text styles */
.category-text {
    color: #883AE1;
    font-size: 0.75rem;
    padding: 6px 16px;
    font-weight: 500;
    background-color: #E6D6FC;
    border-radius: 1rem;
}