/* global margin styles */
* {
    margin: 0;
}

/* style for body */
body {
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
}

/* minimal-blog-card */
.blog-card-area {
    display: flex;
    justify-content: center;
    margin-top: 164px;
}
.container {
    max-width: 1240px;
}
.card {
    width: 336px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.1);
}
.card-img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

/* category text styles */
.category-text {
    color: #883AE1;
    font-size: 0.75rem;
    padding: 6px 16px;
    font-weight: 500;
    background-color: #E6D6FC;
    border-radius: 1rem;
}

/* card title */
.card-title {
    color: #20293A;
    font-size: 1.125rem;
    margin: 16px 0 6px;
}

/* card description */
.card-description {
    color: #6C727F;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E5EAF0; 
}

/* card author */
.card-author {
    color: #6C727F;
    font-size: 0.625rem;
    font-weight: 500;
    padding: 1.25rem 0;
}
